#detalhesSolicitacao{
    border-top: 1px solid white;
    padding-top: 20px;
    color: white;
}

#detalhesMaquina{

    padding-top: 20px;
    color: white;
}

#detalhesSoftware{

    padding-top: 20px;
    color: white;
}